/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;

}

header {
  background-image: url(../images/header.jpg);
  height:1000px;

}

.freelancer {
  position:absolute;
  left:200px;
  background-color:#f0454c;
  height:50px;
  border-radius:10px;
  text-align:center;
  color:white;
  padding:10px;
  top:20px;
}
 h1 {
  position:relative;
  top: 250px;
  left: 200px;
  font-size: 60px;
  color:#465065;

 }

 header p {
   position:relative;
   top: 220px;
   left: 200px;
   color:#465065;
 }

.readmore {
  position:absolute;;
  background-color:#f0454c;
  border-radius:5px;
  text-align:center;
  color:white;
  padding:10px;
  top:550px;
}

 nav {
   float:right;
   color: black;
   word-spacing: 10px;
   margin-right: 50px;


 }
nav a{
  color:#465065;
}

 nav a:hover {
   text-decoration: none;

 }

h2, h3 {
  color: : #465065;
}

.section1 {
  display:flex;
  /*padding: 150px;*/
  margin-right:200px;
  margin-left:200px;
}

.section1 h2, h3 {
  color:#465065;
}

.section1 p {
  color:#9aa0ab;
}

.section2 {
  display:flex;
  margin-right:200px;
  margin-left:200px;
}

.section2 h2, h3 {
  color:#465065;
}

.section2 p {
  color:#9aa0ab;
}

.section3 {
  display:flex;
  /*padding: 150px;*/
  margin-right:200px;
  margin-left:90px;
}

.section3 h2 {
  color:#465065;
}

.section3 p {
  color:#9aa0ab;
}

.section4 {
  display:flex;
  /*padding: 150px;*/
  margin-right:200px;
  margin-left:200px;
  bottom:100px;
  justify-content: space-around;
}
.section4 div{
  width:200px;
}

.section4 h3{
  font-size:30px;
  position:relative;
  top:20px;
}

.section4 p{
  color:#9aa0ab;
}

.section3 {
  position:relative;
 left:150px;
}

h4 {
  color:#f0454c;
}

a, i{
  color: #f0454c;
  text-decoration: none;
  position:relative;
}

.section4 a, i{
  color: #f0454c;
  text-decoration: none;
  position:relative;
}

h2:before{
  background-color:red;
  height:3px;
}
